/JECP-Lib/build/
/JECP-Lib/dist/
/JECP-Lib/nbproject/private/

/JECP-ME/build/
/JECP-ME/dist/
/JECP-ME/nbproject/private/

/JECP-Android/bin/
/JECP-Android/gen/
/JECP-Android/private/
/JECP-Android/local.properties
/JECP-Android/nbandroid/

/JECP-SE/build/
/JECP-SE/dist/
/JECP-SE/nbproject/private/


/demo/DemoJecp/build/
/demo/DemoJecp/dist/
/demo/DemoJecp/nbproject/private/

/demo/DemoJecpME/build/
/demo/DemoJecpME/dist/
/demo/DemoJecpME/nbproject/private/

/demo/DemoJecpSE/build/
/demo/DemoJecpSE/dist/
/demo/DemoJecpSE/nbproject/private/

/demo/DemoJecpAndroid/bin/
/demo/DemoJecpAndroid/gen/
/demo/DemoJecpAndroid/private/
/demo/DemoJecpAndroid/local.properties
/demo/DemoJecpAndroid/nbandroid/